html {
	box-sizing: border-box;
}
*, 
*:before, 
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header-wrap{
	background: url(assets/books_header_bg.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
}

.book-developer {
	padding: 20px 20% 40px 20%;
}

.header-logo-field {
	height: 100px;
	margin-top: 30px;
	margin-bottom: 40px;
}

.header-logo, .header-title {
	display: inline-block;
}

.header-title {
	line-height: 30px;
	vertical-align: 50%;
	width: 80%;
	padding: 3% 0 7%; 
}

.md-text {
  font-size: 2rem;
  display: inline;
  font-family: "Roboto Slab";
  font-weight: 500;
}

.md-text-header {
  color: white;
  text-align: left;
  width: 100%;
}
.md-text-header span {
  color: rgba(241, 239, 244, 0.5);
  font-weight: 400;
}

.md-text-small {
  font-size: 1rem;
  font-family: "Roboto Slab";
  color: rgba(102, 94, 94, 0.5);
}

.book-developer h1 {
	display: block;
}

.search-field {
	padding:20px 0 30px 0;
	width: 100%;
	overflow: hidden;
}

.search-field input, .search-field button {
	color: #e8e8e8;
	height: 3rem;
	float: left;
	border: none;
	border-radius: 2px;
}
.search-field input {
	background-color: rgba(247, 239, 239, 0.5);
	padding: 0 0.5em;
	font-size: 1em;
	width: 70%;
	color: rgb(167, 198, 47);
}
.search-field button {
	background-color: #fff;
	text-align: center;
	width: 10%;
	display: inline-block;
}

.search-field button i {
	color: rgb(167, 198, 47);
}

.books-menu {
	width: 100%;
	position: relative;
	height: 100%;
	overflow: hidden;
}

.books-menu ul{
	list-style: none;
}

.books-menu li {
  padding: 1em .8em;
  font-weight: 400;
  cursor: pointer;
}

/*
.books-menu ul{
	text-align: center;
	list-style: none;
	margin-right: 5%;
	margin-left: 5%; 
	padding: 0;
}

.books-menu li {
  padding: 20px 0;
  font-weight: 400;
  float: left;
  width: 15%;
  position: relative;
  cursor: pointer;
  vertical-align: baseline;
}
*/

.books-menu li a {
	 font-family: "Roboto Slab";
	 line-height: 1em;
	 font-size: 1em;
	 color: rgb(183, 183, 183);
}

.books-menu li a.active {
	color: rgb(157, 195, 44);
}

.books-section {
	background-color: rgb(234, 237, 235);
	height: 70%;
	padding-bottom: 10%;
}

/*books sectino*/
.books-section {
	background-color: rgb(245, 245, 245);
	padding-top: 3rem;
}

.books {
	margin: 0 10% 30px;
	background-color: rgb(255, 255, 255);
	display: flex;
}

.book-presentation {
	width: 70%;
}

.books .book-img {
    width: 30%;
    height: 100%;
}

.book-img img{
	padding: 0;
    display: block;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
}

.book-presentation header {
	padding-top: 1.5rem;
	padding-left: 1.5rem;
}

.book-presentation header h2 {
	font-family: "Roboto Slab";
	font-size: 1.8rem;
	font-weight: 400;
}

.book-data {
	font-family: "Roboto Slab";
	padding: 1.5rem 0 1rem;
}

.book-data p, .book-data input {
	font-family: "Roboto Slab";
	font-size: 0.8rem;
	display: inline-block;
}

.book-data input {
	height: 1.5rem;
	width: 3rem;
	border: 1px solid rgb(76, 175, 80);
	background-color: white;
	color: rgb(76, 175, 80);
}

.book-published {
	margin-right: 5%;
	margin-left: 5%;
}

.book-data p span {
	color: rgb(85, 120, 244);
}

.book-content {
  overflow: hidden;
}

.book-desc {
	float: left;
	width: 60%;
}

.book-desc p {
	font-family: "Roboto Slab";
	margin-left: 1rem;
	margin-top: 0.5rem;
	margin-right: 1rem;
}

.book-comment {
	float: left;
	width: 40%;
}

.book-content a {
	display: block;
	color: rgb(85, 120, 244);
	font-family: "Roboto Slab";
	margin-left: 1rem;
	padding-top: 0.4rem;
}

.book-comment {
	border-left: 2px solid rgb(234, 237, 235);
	padding-left: 1rem;
	padding-right: 1rem;
}

.group-range {
	margin-left: 1rem;
}

.group-rating{
	margin-top: 1.6rem;
}
.group-rating a {
	font-family: "Roboto Slab";
	padding-top: 3px;
	font-size: 1rem;
	line-height: 2rem;
	vertical-align: 40%;
	color: rgb(85, 120, 244);
	border-bottom: 1px solid rgba(1, 1, 1, .2);
	overflow: hidden;
}

.group-rating a span{
	float: left;
}

.group-rating a i{
	line-height: 2rem;
	vertical-align: center;
	float: right;
}

footer {
  padding: 2rem 8%;
  background-color: #242424;
  overflow: hidden;
  margin-bottom: 0px;
}

.fooder-logo, .fooder-title {
	display: inline-block;
}

.fooder-title {
	line-height: 30px;
	vertical-align: 30%;
}

.fooder-logo-field {
	height: 100px;
}

.fooder-logo-right {
	vertical-align: center;
	float: left;
	font-size: 1em;
}

.fooder-logo-left {
	vertical-align: center;
	float: right;
}

.md-text-small1 {
	font-family: "Roboto Slab";
	color: rgba(241, 239, 244, 0.5);
	font-size: 0.8em;
}

.md-text-small2 {
	font-family: "Roboto Slab";
	color: rgb(232, 225, 225);
	font-size: 0.8em;
}

/*button below books*/
.book-price-gumroad {
	float: left;
	position: relative;
	margin: 0 25px 30px 0;
}

.book-price-amazon img {
	float: left;
}

.book-price-manning img {
	float: left;
	margin-left: 25px;
}

.book-price-bookmark{
	float: right;
	margin-right: 10%;
	position: relative;
	text-align: center;
}

.book-price-bookmark i {
	display: block;
}

.bookmark-font {
	font-family: "Roboto Slab";
	color: gray;
	font-size: 0.8rem;
}

.gumroad {
	float: left;
	background-color: white;
	width: 145px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.gumroad::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0px;
	width: 145px;
	height: 0.3em;
	background: linear-gradient(to right,rgb(247, 203, 81) 25%,rgb(221, 121, 59) 25%,rgb(221, 121, 59) 50%,rgb(229, 32, 137) 50%,rgb(229, 32, 137) 75%,rgb(193, 29, 29) 75%,rgb(193, 29, 29) 75%);
}

.gumroad img {
	display: inline-block;
	padding: 7px 5px 5px 5px;
	width: 25%;
	height: 25%;
}

.gumroad-font {
	display: inline-block;
	font-family: "Roboto Slab";
	color: rgb(201, 191, 191);
	font-size: 1.2rem;
	margin-left: 0.2rem;
	vertical-align: 45%;
	line-height: 30px;
}

.display-price {
	float: left;
	background-color: white;
	font-family: "Roboto Slab";
	color: rgb(111, 196, 78);
	font-size: 1.2rem;
	padding: 0.5rem;
	border-left: 1px solid rgb(201, 191, 191);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.clear-fix {
	overflow: hidden;
	margin-bottom: 50px;
	margin-left: 10%;
}

#download_button{
	font-family: "Roboto Slab";
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2rem;
	margin: 0 25px 30px 10%;
	width: 20%;
	color: white;
	background-color: rgb(152, 196, 0);
	border-radius: 5px;
	border-style: none;
}

.load-books{
	text-align: center;
	border-radius: 5px;
	margin: 130px;
}

.load-books a {
	font-family: "Roboto Slab";
	font-size: 1.2rem;
	color: rgb(188, 183, 188);
	border-radius: 5px;
}

/*book range*/
.book-range {
	content:'';
	width: 100%;
	height: 3px;
	border-radius: 5px;
}

.book-range.yellow {
	background: linear-gradient(to right, rgb(247, 221, 93) 80%, rgb(241, 239, 244) 80%);
}

.book-range.green {
	background: linear-gradient(to right, green 75%, rgb(241, 239, 244) 75%);
}

.book-range.azure {
	background: linear-gradient(to right, rgb(39, 158, 217) 95%, rgb(241, 239, 244) 95%);
}

.label-des {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	height: 1rem
}

.label-des label {
	font-family: "Roboto Slab";
	font-size: 0.9rem;
}

.range-percent {
	float: right;
}

.label-des.yellow{
	color: rgb(247, 221, 93);
}

.label-des.green{
	color: rgb(101, 237, 165);
}

.label-des.azure{
	color: rgb(39, 158, 217);
}

.des-box {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	font-family: "Roboto Slab";
	color: rgb(165, 172, 175);
	text-align: center;
	vertical-align: middle;
	font-size: 0.1em;
	padding: 2px;
	position: relative;
}

.des-box.yellow {
	background: rgb(247, 221, 93);
}

.des-box.green {
	background: rgb(101, 237, 165);
}

.des-box.azure {
	background: rgb(220, 238, 247);
}

.des-box::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.2em;
	height: 0;
	width: 0;
	border-right: 0.5em solid transparent;
}

.des-box.yellow::after {
	border-top: 0.5em solid rgb(247, 221, 93);
}

.des-box.green::after {
	border-top: 0.5em solid rgb(101, 237, 165);
}

.des-box.azure::after {
	border-top: 0.5em solid rgb(220, 238, 247);
}


/*book centent*/
.book-content-dispay-left {
	width: 40%;
	background-color: rgb(235, 235, 235);
	opacity: 0.3;
}

.book-content-dispay-right {
	width: 60%;
}

.book-content-dispay-wrapper {
  display:inline-block;
  width: 91%;
  border:3px solid rgb(203, 233, 231);
}

.book-content-dispay-tab {
  display:inline-block;
  height: 60%;
  width: 5%;
  vertical-align:top;
}

.book-content-dispay-left header {
	padding-top: 1.5rem;
	padding-left: 1.5rem;
}

.book-content-dispay-left header h2 {
	font-family: "Roboto Slab";
	font-size: 1.8rem;
	font-weight: 400;
}

.book-desc-ex {
	float: left;
	width: 100%;
}

.book-desc-ex p {
	font-family: "Roboto Slab";
	margin: 2rem;
	font-size: 1rem;
	line-height: 2rem;
}

.book-content-ex a {
	display: block;
	color: rgb(85, 120, 244);
	font-family: "Roboto Slab";
	margin-left: 2rem;
	padding-top: 0.4rem;
}

.book-key-word {
  text-align: left;
  display: block;
  padding: 5px;
  margin: 30px 30px 0 30px;
  height: 40px;
  font-size: 1.2rem;
  width: 85%;
}

.book-content-dispay {
  margin: 30px;
  height: 30rem;
  overflow: auto;
}

.remove {
  margin: 0 18px;
  line-height: 50px;
  text-align: center;
}


.book-content-dispay-tab ul {
  display:inline-block;
  position: absolute;
  list-style:none;
  margin: 0;
}

.book-content-dispay-tab ul li {
  writing-mode: tb-rl;
  text-decoration:none;
  width: 3.4rem;
  height: 10rem;
  text-align: center;
  vertical-align: middle;
  line-height: 3.4rem;
}

.book-content-dispay-tab ul li.active {
  background-color:rgb(203, 233, 231);
}

.book-content-dispay-tab ul li a {
  text-decoration:none;
  font-size: 1.1rem;
  color:rgb(14, 168, 234);
  font-family: "Roboto Slab";
  font-weight: 400;
  padding 100px 5px;
}

.book-content-dispay p {
  padding: 10px 0;

}

.book-content-dispay p * {
  font-size: 0.9rem;
  color:rgb(38, 38, 38);
  font-family: "Roboto Slab";
  font-weight: 400;
}

.book-content-dispay p span.span-left {
  float: left;
}

.book-content-dispay p span.span-right {
  float: right;
  padding-right: 3rem;
}

.book-content-dispay>p {
  overflow: hidden;
}

.search-key{
	padding: 5px;
	background-color: rgb(213, 237, 210);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(183, 183, 183);
  border-radius: 0;

}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(43, 52, 56);
}

::-webkit-scrollbar-track {
  background-color: #dae5ea;
    height: 1px;
}

/* End Scrollbar */
/*end book centent*/  

@media (min-width: 600px){
  	.books-menu ul{
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 600px){
  	.books-menu ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.books-menu li{
		text-align: center;
	}
}
